<label>Select year:
	<select ng-model="selectedYear" ng-options="option for option in options" ng-change="updateTotalExpenses()"></select>
</label>

<label>Select quarter:
	<select ng-model="selectedQuarter" ng-selected="selectedItem = getQuarter()" onload="window.alert(setCurrentQuarter())" ng-change="updateTotalExpenses()">
		<option value="1">1st Quarter</option>
		<option value="2">2nd Quarter</option>
		<option value="3">3rd Quarter</option>
		<option value="4">4th Quarter</option>
	</select>
</label>
<div>Total expenses: {{totalExpenses | currency}}</div>
