
<h3>All Expenses</h3>
<table class="table">
	<tr ng-repeat="expense in expenses">
		<td>{{expense.name}}</td>
		<td>{{expense.description}}</td>
		<td>{{expense.price | currency}}</td>
		<td>{{expense.amount}}</td>
		<td>{{expense.date | date}}</td>
		<td>
			<a class="btn btn-primary" ui-sref="viewExpense({id:expense.id})">View</a>
			<a class="btn btn-danger"  ng-click="deleteExpense(expense)">Delete</a>
		</td>
	</tr>
</table>
<a ui-sref="newExpense" class="btn-primary btn-lg nodecoration">Add New Expense</a>
